/*основні функції і шрифти основних елементів сторінки*/
body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;

    font-size: 16px;
    line-height: 1.6;
    color: rgb(28, 0, 59);

}
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/*для всіх елементів сторінки та для псевдоелементів before і after*/
*,
*:after,
*:before {
    box-sizing: border-box; /*для того щоб не рахувати відступи для кожного з елементів*/
}

/*стиль для контейнера*/
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

}
/*стиль логотипу він же резюме+картинка RS*/
.header_inner {
    display: flex;
    justify-content: space-between;
}
.logo {
    min-width: 80%;
    font-family: 'Lato', sans-serif; 
    font-size: 35px;
    color: white;
    background-color: black;
}

/*основний блок резюме*/
.main_blokc {
    width: 100%;
    display: flex;
}

.avatar {
    margin-top: 55px;
    margin-right: 10px;
}

/*лівий блок резюме*/
.h1 {
    margin-left: ;
}

.h2 {
    margin: 5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;

    font-size: 16px;
    line-height: 1.6;
    color: black;
}
.h3 {
    margin: 5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;

    font-size: 23px;
    line-height: 1.6;
    color: black;
}
.img_telegram {
    position: absolute;
    left: 130px;
    bottom: 10px;
}
.left_blokc {
    width: 30%;
    height: 800vh; /*на відстань висоти екрану браузера*/

    background-color: rgb(155, 183, 236);
    flex-direction: row;
}

/*правий блок резюме*/
.right_blokc {
    width: 70%;
    height: 800vh; /*на відстань висоти екрану браузера*/

    background-color: white;
    flex-direction: row;
}
